
@{
    ViewBag.Title = "Students Administration";
}

<h3 class="text-primary"><span class="fa fa-users"></span> Students Administration</h3>

<div class="mt-5">
	<a class="btn btn-success" href="@Url.Action("AddStudent","ManageAdmin")">
		<span class="fa fa-user-plus"></span> Add New Student
	</a>
</div>
<br />
<div>
	<table id="StudentTable" class="table display nowrap" style="width:100%">
		<thead class="bg-primary text-light">
			<tr>
				<th>Full Name</th>
				<th>Email</th>
				<th>Student ID</th>
				<th>Class</th>
				<th>Total Subjects</th>
				<th></th>
			</tr>

		</thead>

	</table>

</div>

@section scripts{ 
<script src="~/Scripts/PlagiarismChecker/ManageAdmin/StudentAdministration.js"></script>
}