USE [master]
GO
IF DB_ID(N'PlagiarismDB') IS NOT NULL
BEGIN
	USE MASTER
	ALTER DATABASE [PlagiarismDB]
	SET SINGLE_USER WITH ROLLBACK IMMEDIATE

	DROP DATABASE [PlagiarismDB]
END
GO

CREATE DATABASE [PlagiarismDB]
GO

DECLARE @version_year INT;
SET @version_year = CAST(SUBSTRING(@@VERSION,PATINDEX(N'%20__%',@@VERSION),4) AS INT)

IF @version_year<2012
BEGIN
	EXEC sp_addsrvrolemember @loginame=N'NT AUTHORITY\SYSTEM', @rolename=N'sysadmin'
END
ELSE
BEGIN
	ALTER SERVER ROLE sysadmin ADD MEMBER [NT AUTHORITY\SYSTEM]
END


USE [PlagiarismDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [varchar](256) NOT NULL,
	[ClassID] [uniqueidentifier] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [uniqueidentifier] NOT NULL,
	[AssignmentName] [varchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentClasses]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassName] [varchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.StudentClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubmittedAssignmentCommonAppUsers]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmittedAssignmentCommonAppUsers](
	[SubmittedAssignment_Id] [uniqueidentifier] NOT NULL,
	[CommonAppUser_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.SubmittedAssignmentCommonAppUsers] PRIMARY KEY CLUSTERED 
(
	[SubmittedAssignment_Id] ASC,
	[CommonAppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubmittedAssignments]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmittedAssignments](
	[Id] [uniqueidentifier] NOT NULL,
	[Counter] [int] NOT NULL,
	[UploadedFilePath] [varchar](max) NULL,
	[PercentageInteger] [int] NOT NULL,
	[Percentage] [real] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsAccepted] [bit] NOT NULL,
	[IsChecked] [bit] NOT NULL,
	[Data] [nvarchar](max) NULL,
	[Assignment_Id] [uniqueidentifier] NOT NULL,
	[SubmissionDate] [datetime] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Score] [smallint] NOT NULL,
	[Class_Id] [uniqueidentifier] NULL,
	[Note] [nvarchar](max) NULL,
	[TeacherClass_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.SubmittedAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeacherClasses]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassName] [varchar](256) NOT NULL,
	[StudentClass_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.TeacherClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAssignments]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAssignments](
	[UserId] [nvarchar](128) NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserAssignments] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTeacherTeacherClasses]    Script Date: 12/17/2018 2:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTeacherTeacherClasses](
	[TeacherId] [nvarchar](128) NOT NULL,
	[TeacherClass] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserTeacherTeacherClasses] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC,
	[TeacherClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'07bf717c-beac-4efb-abfe-3d582f893854', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'79cb2941-aa6e-4904-aa69-2145f030022c', N'Student')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'cb5839af-f5a3-408a-950b-1def552b8cae', N'Teacher')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'05d3be4b-70b0-4cdf-b148-5dfae7ff7551', N'07bf717c-beac-4efb-abfe-3d582f893854')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'181b4b35-a133-422c-8d8c-47ee0cce85ed', N'79cb2941-aa6e-4904-aa69-2145f030022c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4575dcf3-04ec-4650-93e0-83ab1ec1376f', N'79cb2941-aa6e-4904-aa69-2145f030022c')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [ClassID], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'05d3be4b-70b0-4cdf-b148-5dfae7ff7551', N'System Administrator', NULL, N'ghulamcyber@hotmail.com', 0, N'ACeEQV2W1dj06QZqR2gpBuY6b2qF9DRmPMCnJM+u0Lp2dV0HIXeMFsB4IlY4kMikBw==', N'2b128579-91de-4126-9364-8500dffe7af7', NULL, 0, 0, NULL, 0, 0, N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [ClassID], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'181b4b35-a133-422c-8d8c-47ee0cce85ed', N'Samantha Anggraini', N'f35ce810-e36c-48a9-9480-62ff48114c08', N'samantha04@myschool.com', 0, N'AOuKWIKkCW28bXIU07Wcr60F5w+Ipmy6JdcoGW5YBWKVV4sCuPL8OXYt9Cc2UE9awA==', N'964871b7-bbe3-4861-9b76-a9d8c950ed36', NULL, 0, 0, NULL, 0, 0, N'XB002')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [ClassID], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'4575dcf3-04ec-4650-93e0-83ab1ec1376f', N'Michael Hawk', N'f35ce810-e36c-48a9-9480-62ff48114c08', N'hawk91@hotmail.com', 0, N'AIbZadYwHT0GoGLqCwT1y1W2QzLjXPZaXWWFIrNiBPeXsCK7gsAYHvwaoRfo6gmLYg==', N'b5070343-18f4-4bf8-b658-b3ce3fad62c3', NULL, 0, 0, NULL, 0, 0, N'DFX99002')
INSERT [dbo].[Assignments] ([Id], [AssignmentName]) VALUES (N'5e6d7c09-dd49-4870-aeae-21be5ba279e0', N'English Composition 1')
INSERT [dbo].[Assignments] ([Id], [AssignmentName]) VALUES (N'51e799c4-d9d3-4b9f-9aec-27338af6bcb5', N'English Composition 2')
INSERT [dbo].[Assignments] ([Id], [AssignmentName]) VALUES (N'd148ac88-4483-4190-afb3-930d82c27b33', N'History 1')
INSERT [dbo].[StudentClasses] ([Id], [ClassName]) VALUES (N'4c8b0d02-4e17-4b9a-9293-0e57f61511bd', N'XII-A')
INSERT [dbo].[StudentClasses] ([Id], [ClassName]) VALUES (N'aa30e108-fcb1-4dce-9843-0f9188cc5221', N'XII-B')
INSERT [dbo].[StudentClasses] ([Id], [ClassName]) VALUES (N'07a646dd-3ebd-4fb6-8b6a-14a9437f634c', N'XII-C')
INSERT [dbo].[SubmittedAssignmentCommonAppUsers] ([SubmittedAssignment_Id], [CommonAppUser_Id]) VALUES (N'1b3cd7c6-a075-46d1-9aa3-588fc766b4cf', N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5')
INSERT [dbo].[SubmittedAssignmentCommonAppUsers] ([SubmittedAssignment_Id], [CommonAppUser_Id]) VALUES (N'360e893c-6851-481f-823a-e3ff31c31459', N'c9c5e127-de1b-44a7-a649-283372be4079')
INSERT [dbo].[SubmittedAssignmentCommonAppUsers] ([SubmittedAssignment_Id], [CommonAppUser_Id]) VALUES (N'da489486-f5fe-4d0e-8db6-f08488f42598', N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5')
INSERT [dbo].[TeacherClasses] ([Id], [ClassName], [StudentClass_Id]) VALUES (N'0c8095ec-dcf9-48c1-9c6a-00b582df939a', N'X-A', NULL)
INSERT [dbo].[TeacherClasses] ([Id], [ClassName], [StudentClass_Id]) VALUES (N'90ebdd6f-eb33-4236-8862-015b03f39511', N'X-C', NULL)
INSERT [dbo].[TeacherClasses] ([Id], [ClassName], [StudentClass_Id]) VALUES (N'938c625f-8018-40f5-a021-2d8a326c3523', N'X-B', N'f35ce810-e36c-48a9-9480-62ff48114c08')
INSERT [dbo].[UserAssignments] ([UserId], [AssignmentId]) VALUES (N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5', N'5e6d7c09-dd49-4870-aeae-21be5ba279e0')
INSERT [dbo].[UserAssignments] ([UserId], [AssignmentId]) VALUES (N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5', N'51e799c4-d9d3-4b9f-9aec-27338af6bcb5')
INSERT [dbo].[UserAssignments] ([UserId], [AssignmentId]) VALUES (N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5', N'd148ac88-4483-4190-afb3-930d82c27b33')
INSERT [dbo].[UserTeacherTeacherClasses] ([TeacherId], [TeacherClass]) VALUES (N'804dee26-b09d-4164-8bd2-927058406a8f', N'0c8095ec-dcf9-48c1-9c6a-00b582df939a')
INSERT [dbo].[UserTeacherTeacherClasses] ([TeacherId], [TeacherClass]) VALUES (N'68654b82-2056-470c-a84a-06291ac74256', N'938c625f-8018-40f5-a021-2d8a326c3523')
INSERT [dbo].[UserTeacherTeacherClasses] ([TeacherId], [TeacherClass]) VALUES (N'804dee26-b09d-4164-8bd2-927058406a8f', N'08ebf86f-0bd6-43b4-a8d0-32d068960cce')
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassID]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClassID] ON [dbo].[AspNetUsers]
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CommonAppUser_Id]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_CommonAppUser_Id] ON [dbo].[SubmittedAssignmentCommonAppUsers]
(
	[CommonAppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubmittedAssignment_Id]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubmittedAssignment_Id] ON [dbo].[SubmittedAssignmentCommonAppUsers]
(
	[SubmittedAssignment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assignment_Id]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assignment_Id] ON [dbo].[SubmittedAssignments]
(
	[Assignment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClassId] ON [dbo].[SubmittedAssignments]
(
	[Class_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherClass_Id]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherClass_Id] ON [dbo].[SubmittedAssignments]
(
	[TeacherClass_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentClass_Id]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_StudentClass_Id] ON [dbo].[TeacherClasses]
(
	[StudentClass_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_AssignmentId] ON [dbo].[UserAssignments]
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserAssignments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherClass]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherClass] ON [dbo].[UserTeacherTeacherClasses]
(
	[TeacherClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TeacherId]    Script Date: 12/17/2018 2:56:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[UserTeacherTeacherClasses]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SubmittedAssignments] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [SubmissionDate]
GO
ALTER TABLE [dbo].[SubmittedAssignments] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.StudentClasses_ClassID] FOREIGN KEY([ClassID])
REFERENCES [dbo].[StudentClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.StudentClasses_ClassID]
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.AspNetUsers_CommonAppUser_Id] FOREIGN KEY([CommonAppUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers] CHECK CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.AspNetUsers_CommonAppUser_Id]
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.SubmittedAssignments_SubmittedAssignment_Id] FOREIGN KEY([SubmittedAssignment_Id])
REFERENCES [dbo].[SubmittedAssignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers] CHECK CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.SubmittedAssignments_SubmittedAssignment_Id]
GO
ALTER TABLE [dbo].[SubmittedAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.Assignments_Assignment_Id] FOREIGN KEY([Assignment_Id])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubmittedAssignments] CHECK CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.Assignments_Assignment_Id]
GO
ALTER TABLE [dbo].[SubmittedAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.StudentClasses_ClassId] FOREIGN KEY([Class_Id])
REFERENCES [dbo].[StudentClasses] ([Id])
GO
ALTER TABLE [dbo].[SubmittedAssignments] CHECK CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.StudentClasses_ClassId]
GO
ALTER TABLE [dbo].[SubmittedAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.TeacherClasses_TeacherClass_Id] FOREIGN KEY([TeacherClass_Id])
REFERENCES [dbo].[TeacherClasses] ([Id])
GO
ALTER TABLE [dbo].[SubmittedAssignments] CHECK CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.TeacherClasses_TeacherClass_Id]
GO
ALTER TABLE [dbo].[TeacherClasses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeacherClasses_dbo.StudentClasses_StudentClass_Id] FOREIGN KEY([StudentClass_Id])
REFERENCES [dbo].[StudentClasses] ([Id])
GO
ALTER TABLE [dbo].[TeacherClasses] CHECK CONSTRAINT [FK_dbo.TeacherClasses_dbo.StudentClasses_StudentClass_Id]
GO
ALTER TABLE [dbo].[UserAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAssignments_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAssignments] CHECK CONSTRAINT [FK_dbo.UserAssignments_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAssignments_dbo.Assignments_AssignmentId] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAssignments] CHECK CONSTRAINT [FK_dbo.UserAssignments_dbo.Assignments_AssignmentId]
GO
ALTER TABLE [dbo].[UserTeacherTeacherClasses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserTeacherTeacherClasses_dbo.AspNetUsers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserTeacherTeacherClasses] CHECK CONSTRAINT [FK_dbo.UserTeacherTeacherClasses_dbo.AspNetUsers_TeacherId]
GO
ALTER TABLE [dbo].[UserTeacherTeacherClasses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserTeacherTeacherClasses_dbo.TeacherClasses_TeacherClass] FOREIGN KEY([TeacherClass])
REFERENCES [dbo].[TeacherClasses] ([Id])
GO
ALTER TABLE [dbo].[UserTeacherTeacherClasses] CHECK CONSTRAINT [FK_dbo.UserTeacherTeacherClasses_dbo.TeacherClasses_TeacherClass]
GO
