USE [master]
GO
/****** Object:  Database [PlagiarismDB]    Script Date: 12/7/2018 8:13:27 AM ******/
CREATE DATABASE [PlagiarismDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlagiarismDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLDEV2016\MSSQL\DATA\PlagiarismDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlagiarismDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLDEV2016\MSSQL\DATA\PlagiarismDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlagiarismDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlagiarismDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [varchar](256) NOT NULL,
	[ClassID] [uniqueidentifier] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [uniqueidentifier] NOT NULL,
	[AssignmentName] [varchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentClasses]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassName] [varchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.StudentClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubmittedAssignmentCommonAppUsers]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmittedAssignmentCommonAppUsers](
	[SubmittedAssignment_Id] [uniqueidentifier] NOT NULL,
	[CommonAppUser_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.SubmittedAssignmentCommonAppUsers] PRIMARY KEY CLUSTERED 
(
	[SubmittedAssignment_Id] ASC,
	[CommonAppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubmittedAssignments]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubmittedAssignments](
	[Id] [uniqueidentifier] NOT NULL,
	[Counter] [int] NOT NULL,
	[UploadedFilePath] [varchar](max) NULL,
	[PercentageInteger] [int] NOT NULL,
	[Percentage] [real] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsAccepted] [bit] NOT NULL,
	[IsChecked] [bit] NOT NULL,
	[Data] [nvarchar](max) NULL,
	[Assignment_Id] [uniqueidentifier] NOT NULL,
	[SubmissionDate] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.SubmittedAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserAssignments]    Script Date: 12/7/2018 8:13:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAssignments](
	[UserId] [nvarchar](128) NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserAssignments] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'07bf717c-beac-4efb-abfe-3d582f893854', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'79cb2941-aa6e-4904-aa69-2145f030022c', N'Student')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'05d3be4b-70b0-4cdf-b148-5dfae7ff7551', N'07bf717c-beac-4efb-abfe-3d582f893854')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5', N'79cb2941-aa6e-4904-aa69-2145f030022c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6250a284-ead2-464c-bf7b-c3e4e54acb18', N'79cb2941-aa6e-4904-aa69-2145f030022c')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [ClassID], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'05d3be4b-70b0-4cdf-b148-5dfae7ff7551', N'System Administrator', NULL, N'ghulamcyber@hotmail.com', 0, N'ACeEQV2W1dj06QZqR2gpBuY6b2qF9DRmPMCnJM+u0Lp2dV0HIXeMFsB4IlY4kMikBw==', N'2b128579-91de-4126-9364-8500dffe7af7', NULL, 0, 0, NULL, 0, 0, N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [ClassID], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5', N'Deby Aristya', N'e603d172-3087-468b-b26a-66196df32d69', N'deby123@myschool.com', 0, N'AFnEzGmK5FozkuucHqfF7zFlPlmyDu4lEMWkqce/ZJOBaSq420Hr4kkOu3Ca0FiW+A==', N'a1bd0a74-9435-4d08-964a-59f6e6a7dba9', NULL, 0, 0, NULL, 0, 0, N'XA002')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [ClassID], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6250a284-ead2-464c-bf7b-c3e4e54acb18', N'Rara Anjani', N'e603d172-3087-468b-b26a-66196df32d69', N'raraanjani21@myschool.com', 0, N'ADWCX7jil8zxNe4VMesLioiP26Qf21Zu0O4ZncnNlsNmM8H9qwpQiUjeEj0X087JJw==', N'395c0533-9efa-451f-866c-9ddd75414833', NULL, 0, 0, NULL, 0, 0, N'XA003')
INSERT [dbo].[Assignments] ([Id], [AssignmentName]) VALUES (N'fe563a33-644e-41d2-bb3f-01f30c699130', N'Math 1')
INSERT [dbo].[Assignments] ([Id], [AssignmentName]) VALUES (N'ee950074-47e3-4531-a6b5-10f810e003e4', N'Math 2')
INSERT [dbo].[Assignments] ([Id], [AssignmentName]) VALUES (N'5e6d7c09-dd49-4870-aeae-21be5ba279e0', N'English Composition 1')
INSERT [dbo].[StudentClasses] ([Id], [ClassName]) VALUES (N'a4cd3e6e-4cc8-44fd-9333-00d1c5750326', N'XI-A')
INSERT [dbo].[StudentClasses] ([Id], [ClassName]) VALUES (N'f9d41c89-655f-4758-bf8f-08e3899b8e81', N'XI-A')
INSERT [dbo].[StudentClasses] ([Id], [ClassName]) VALUES (N'37303849-9b94-4936-a9c8-0ad907836d97', N'XI-A')
INSERT [dbo].[SubmittedAssignmentCommonAppUsers] ([SubmittedAssignment_Id], [CommonAppUser_Id]) VALUES (N'6d09ae0a-e623-4d90-a839-4b073176911c', N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5')
INSERT [dbo].[SubmittedAssignmentCommonAppUsers] ([SubmittedAssignment_Id], [CommonAppUser_Id]) VALUES (N'd806b71e-d214-4c8e-bfcc-b40bbf861287', N'6250a284-ead2-464c-bf7b-c3e4e54acb18')
INSERT [dbo].[SubmittedAssignments] ([Id], [Counter], [UploadedFilePath], [PercentageInteger], [Percentage], [Description], [IsAccepted], [IsChecked], [Data], [Assignment_Id], [SubmissionDate]) VALUES (N'6d09ae0a-e623-4d90-a839-4b073176911c', 2, N'~/Upload/document-test.pdf', 50, 50.34, N'Plagiarism is intermediate', 1, 1, N'숟�꓍ᕛ킘粷퉒臶Λ寫⤐⍾璸렦㵐☎倽䚸콯凔✓乴卛牣燚鿖嶏ꩇ黰', N'5e6d7c09-dd49-4870-aeae-21be5ba279e0', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[SubmittedAssignments] ([Id], [Counter], [UploadedFilePath], [PercentageInteger], [Percentage], [Description], [IsAccepted], [IsChecked], [Data], [Assignment_Id], [SubmissionDate]) VALUES (N'd806b71e-d214-4c8e-bfcc-b40bbf861287', 1, N'~/Upload/document-test.pdf', 0, 0, N'First Submission', 1, 1, N'琬៽꿭໘䞄풰䅧⓮縻䶷ᓒચ릱漤γ蕾蔽熅ພ쭧ේ辪村搐嵡婤竢ᗋ놿罄魅', N'5e6d7c09-dd49-4870-aeae-21be5ba279e0', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[UserAssignments] ([UserId], [AssignmentId]) VALUES (N'5337fc7a-59c5-4eb5-80ee-3fc14919e2b5', N'51e799c4-d9d3-4b9f-9aec-27338af6bcb5')
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassID]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClassID] ON [dbo].[AspNetUsers]
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CommonAppUser_Id]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_CommonAppUser_Id] ON [dbo].[SubmittedAssignmentCommonAppUsers]
(
	[CommonAppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubmittedAssignment_Id]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubmittedAssignment_Id] ON [dbo].[SubmittedAssignmentCommonAppUsers]
(
	[SubmittedAssignment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assignment_Id]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assignment_Id] ON [dbo].[SubmittedAssignments]
(
	[Assignment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentId]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_AssignmentId] ON [dbo].[UserAssignments]
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/7/2018 8:13:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserAssignments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.StudentClasses_ClassID] FOREIGN KEY([ClassID])
REFERENCES [dbo].[StudentClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.StudentClasses_ClassID]
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.AspNetUsers_CommonAppUser_Id] FOREIGN KEY([CommonAppUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers] CHECK CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.AspNetUsers_CommonAppUser_Id]
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.SubmittedAssignments_SubmittedAssignment_Id] FOREIGN KEY([SubmittedAssignment_Id])
REFERENCES [dbo].[SubmittedAssignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubmittedAssignmentCommonAppUsers] CHECK CONSTRAINT [FK_dbo.SubmittedAssignmentCommonAppUsers_dbo.SubmittedAssignments_SubmittedAssignment_Id]
GO
ALTER TABLE [dbo].[SubmittedAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.Assignments_Assignment_Id] FOREIGN KEY([Assignment_Id])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubmittedAssignments] CHECK CONSTRAINT [FK_dbo.SubmittedAssignments_dbo.Assignments_Assignment_Id]
GO
ALTER TABLE [dbo].[UserAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAssignments_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAssignments] CHECK CONSTRAINT [FK_dbo.UserAssignments_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserAssignments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAssignments_dbo.Assignments_AssignmentId] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAssignments] CHECK CONSTRAINT [FK_dbo.UserAssignments_dbo.Assignments_AssignmentId]
GO
USE [master]
GO
