
@{
    ViewBag.Title = "Plagiarism Checker";
}

<div class="jumbotron-fluid text-center">
	<img src="~/Content/Images/dashboard.jpg" class="img-fluid rounded mx-auto" style="width:800px" />
</div>
<br />
<h2 style="font-family:HeaderFont" class="text-center">Plagiarism Checker v.1</h2>
<p>
	<strong>Plagiarism Checker v1.0</strong> is a managed web application for submitting student's assignments, plagiarism checking and score management.
	All student activities are recorded with this application and can be searched easily by Administration Dashboard.
</p>

